.logoNavbar {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.leftZone {
  position: absolute;
  left: 0;
}

.rightZone {
  position: absolute;
  right: 0;
}

.navbar{
  background: linear-gradient(180deg, rgba(0, 0, 2, 0.318) 0%, rgba(0, 213, 255, 0) 100%);
}

.onAnimate{
  animation: slideInFromRight .35s ease-in-out;
  opacity: 1;
}

.offAnimate{
  opacity: 0;
  visibility: hidden;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* button styling */
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  place-content: center;
  place-items: center;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 2em;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.6);
  width: 105%;
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  content: attr(data-text);
  color: #37FF8B;
  width: 0;
  inset: 0;
  border-right: 2px solid #37FF8B;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px #37FF8B;
}

.button:hover .hover-text {
  width: 100%;
  cursor: pointer;
}

.spinner-container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  bottom: 150px;
}

.spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.githubButton{
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
}

.githubButton:hover {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.btn .githubIcon {
  transition: transform 0.5s;
}

.btn:hover .githubIcon {
  transform: scale(0.9);
  fill: #333333;
}